<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<div class="container">
    <div class="card-header"></div>
    <form method="POST" action="../../categories/save">

      
        <h2>Cadastro de categorias</h2>
        <hr>
        <input class="form-control" type="text" name="title" placeholder="Defina o titulo da categoria"><br>
        <button class="btn btn-success">Cadastrar</button>

    </form>
</div>
</div>
<%- include ('../../partials/footer.ejs')%>