<%- include ('./partials/header.ejs')%>

<body style="background-color: black;">
  <%- include ('./partials/navbar.ejs')%>
  <div class="container "
    style="display: flex; flex-direction:row; justify-content: center; " >
    <div class="animated  bounceInUp delay-0.5s">
      <img src="/img/pro.png" alt="">
    </div>
    <div class="animated  bounceInDown delay-0.5s" >
      <img src="/img/gam.png" alt="">
    </div>
  </div>

</body>
<%- include ('./partials/footer.ejs')%>